In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import spacy
import seaborn as sns

## Essential libraries

In [1]:
# Data handing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Spacy

In [ ]:
# nltk

In [ ]:
# Keras

## Data input

In [7]:
df = pd.read_csv('data/archive/spam.csv', encoding='ISO-8859-1')

In [10]:
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [12]:
# remove unnecessary columns
df = df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1)
df.head(5)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
label_class = df.v1.to_list()
messages = df.v2.to_list()

## Preprocessing

In [17]:
# Converting label to 1(ham) or 0(spam)
label = [1 if i == 'ham' else 0 for i in label_class]

### Stopword removal

In [ ]:
# replace stop words by <stpw> and punctuations by <punct>
def replace_stopwords(text):
    modified_text = ''
    return modified_text
def replace_punctuations(text):
    modified_text = ''
    return modified_text

In [ ]:
messages = [replace_stopwords(message) for message in messages]
messages = [replace_punctuations(message) for message in messages]

### Stemming

### Tokenization

## Vectorization

### Bag of word

### TF-IDF

### Word2Vec

## Model

### SVM

#### Training

#### Testing

### Neural Network

#### Training

#### Testing

### Naive Bayes

#### Training

#### Testing

## Test

In [2]:
import nltk
from nltk.stem import PorterStemmer
import re

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('data/archive/spam.csv', encoding='ISO-8859-1')

In [6]:
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [9]:
df = df.drop_duplicates(keep='first')

In [10]:
df.shape

(5169, 5)

In [11]:
label = df.v1.to_list()
messages = df.v2.to_list()

In [12]:
porter_stemmer = PorterStemmer()

In [17]:
def preprocess_text(text):
    text = text.lower()
    text = re.sub("\W", " ", text)
    text=re.sub("\s+(in|the|all|for|and|on)\s+"," _connector_ ",text)
    words=re.split("\s+",text)
    stemmed_words=[porter_stemmer.stem(word=word) for word in words]
    return ' '.join(stemmed_words)

In [18]:
def tokenizer(text):
    text = re.sub("(\W)", "\1 ", text)
    return re.split("\s+", text)

In [19]:
vectorizer = CountVectorizer(tokenizer=tokenizer, ngram_range=(1,2), min_df=0.006, preprocessor=preprocess_text)
x = vectorizer.fit_transform(messages)

d:\Coding\spam-filter\spam-ham\env\lib\site-packages\sklearn\feature_extraction\text.py:521: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [25]:
x.toarray()

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
sns.countplot(df['v1'])

In [ ]:
from imblearn.under_sampling import NearMiss
from collections import Counter
from imblearn.over_sampling import RandomOverSampler

In [ ]:
ros = RandomOverSampler(random_state = 42)
print('Original dataset shape', Counter(label))

In [ ]:
x, y = ros.fit_resample(messages, label)
print('Original dataset shape', Counter(y))

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
clf = MultinomialNB()
clf.fit(x, y)

In [ ]:
y_predNB = clf.predict(x_test)
NB_Acc = clf.score(y_test, y_predNB)
print(NB_Acc)

In [ ]:
cm = confusion_matrix(y_test, y_predNB)
sns.heatmap(cm, annot=True, fmt='d')