In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import spacy

In [ ]:
import nltk
from nltk.stem import PorterStemmer
import re

In [3]:
df = pd.read_csv('data/archive/spam.csv', encoding='ISO-8859-1')

In [4]:
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [6]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [21]:
df = df.drop_duplicates(keep='first')

In [22]:
df.shape

(5169, 5)

In [23]:
label = df.v1.to_list()
messages = df.v2.to_list()

In [15]:
porter_stemmer = PorterStemmer()

lar

In [ ]:
def preprocess_text():
    text = text.lower()
    text = re.sub("\W", " ", text)
    text=re.sub("\s+(in|the|all|for|and|on)\s+"," _connector_ ",text)
    words=re.split("\s+",text)
    stemmed_words=[porter_stemmer.stem(word=word) for word in words]
    return ' '.join(stemmed_words)

In [ ]:
def tokenizer():
    text = re.sub("(\W)", "\1 ", text)
    return re.split("\s+", text)